# Работа с Excel

In [ ]:
import pandas as pd
import xlwings as xw
import numpy as np
from openpyxl import Workbook
import csv

1. Загрузите данные из файлов `reviews_sample.csv` (__ЛР2__) и `recipes_sample.csv` (__ЛР5__) в виде `pd.DataFrame`. Обратите внимание на корректное считывание столбца(ов) с индексами. Оставьте в таблице с рецептами следующие столбцы: `id`, `name`, `minutes`, `submitted`, `description`, `n_ingredients`

In [ ]:
reviews = pd.read_csv('reviews_sample.csv', delimiter = ',', index_col="Unnamed: 0")
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [ ]:
recipes = pd.read_csv('recipes_sample.csv', delimiter = ',', usecols = ['id', 'name', 'minutes', 'submitted', 'description', 'n_ingredients'])
recipes

,name,id,minutes,submitted,description,n_ingredients
0,george s at the cove black bean soup,44123,90,2002-10-25,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,2003-07-26,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,2002-08-29,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,2002-07-27,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,2004-02-23,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,2007-11-25,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,2009-08-24,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,2004-11-03,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,2012-08-29,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,2008-04-15,"i've heard of the 'cookies by design' company,...",10.0

2. Случайным образом выберите 5% строк из каждой таблицы и сохраните две таблицы на разные листы в один файл `recipes.xlsx`. Дайте листам названия "Рецепты" и "Отзывы", соответствующие содержанию таблиц.

In [ ]:
excel = 'recipes.xlsx'
recipes_row = recipes.sample(frac = 0.05)
reviews_row = reviews.sample(frac = 0.05)

In [ ]:
with pd.ExcelWriter('recipes.xlsx') as excel:
    recipes_row.to_excel(excel, sheet_name='Рецепты')
    reviews_row.to_excel(excel, sheet_name='Отзывы')

3. Используя `xlwings`, добавьте на лист `Рецепты` столбец `seconds_assign`, показывающий время выполнения рецепта в секундах. Выполните задание при помощи присваивания массива значений диапазону ячеек.

In [ ]:
exel_2 = xw.Book('recipes.xlsx') #открывает эксель файл
exel_list = exel_2.sheets['Рецепты'] #просмотр листа

exel_list.range("H1").value = 'seconds_assign' #выбираем значение(пустой стобик) и добавляем новый в h1
second_assign = (recipes_row["minutes"] * 60).to_numpy() #переменной присваием значения, которые надо добавить
exel_list.range("H2:H1501").options(transpose=True).value = second_assign #добавили значения в созданный столбик

4. Используя `xlwings`, добавьте на лист `Рецепты` столбец `seconds_formula`, показывающий время выполнения рецепта в секундах. Выполните задание при помощи формул Excel.

In [ ]:
exel_list.range("I1").value = 'seconds_formula' #выбираем значение(пустой стобик) и добавляем новый в i1
second_column = exel_list.range("I2").formula = f'=D2 * 60' #пишем формулу стобец минуты умножить на 60
xw.Range("I2:I1501").formula = second_column #добавляем в новый столбец значения

5. Сделайте названия всех добавленных столбцов полужирными и выровняйте по центру ячейки.

In [ ]:
exel_list.range('H1').api.Font.Bold = True #делаем 1 строку полужирным
exel_list.range('I1').api.Font.Bold = True
exel_list.range('H1').api.HorizontalAlignment = xw.constants.HAlign.xlHAlignCenter #выравниваем 1 строку
exel_list.range('I1').api.HorizontalAlignment = xw.constants.HAlign.xlHAlignCenter

6. Раскрасьте ячейки столбца `minutes` в соответствии со следующим правилом: если рецепт выполняется быстрее 5 минут, то цвет - зеленый; от 5 до 10 минут - жёлтый; и больше 10 - красный.

In [ ]:
minutes = exel_list.range("D2:D1501").value #обращаемся к столбцу минуты
green =  (0, 255, 0) #обозначаем цвета
yellow = (255, 255, 0)
red =  (255, 0, 0)
for i in range(len(minutes)):
    if minutes[i] < 5:
        exel_list.range(f'D{i+2}').color = green #окрашиваем
    elif 5 <= minutes[i] <= 10:
        exel_list.range(f'D{i+2}').color = yellow
    else:
        exel_list.range(f'D{i+2}').color = red

7. Добавьте на лист `Рецепты`  столбец `n_reviews`, содержащий кол-во отзывов для этого рецепта. Выполните задание при помощи формул Excel.

In [ ]:
count = len(reviews_row)
exel_list.range('J1').value = 'n_reviews' #добавляем новый столбец
fml = exel_list.range("J2").formula = f'=COUNTIF(Отзывы!$C$2:$C${count},C2)'
xw.Range("J2:J1501").formula = fml #добавляем во весь столбик формулу